* {
   margin: 0px;
}
body{
  
    width: 100%;
    background-color:#150F2A;

}
 main{

    width: 100%;
    background-color:#150F2A;
 }

 .experienceme
 {
max-width: 700px;
  padding: 110px;
  margin: 30px -40px -65px 375px;
 
 }

 .exptitle{
    color: #fff;
    font-family: 'Playfair Display';
    font-size : 40px;
    opacity: 0.8;
    margin-bottom: 0px;
    margin-left: 225px;

 }

 .abouttitle{

    color: #fff;
    font-family: 'Playfair Display';
    font-size : 40px;
    opacity: 0.8;
    margin-bottom: 0px;
    margin-top:30px;
    margin-left: 690px;

 }


.description{
    color: #fff;
    font-family: 'Playfair Display';
    position:absolute;
    left: 270px;
    margin-top:30px;

 }

 .medescription{
color: #fff;
  font-family: 'Playfair Display';
  position: absolute;
  left: 270px;
  margin-top: -355px;
  margin-left: 500px;
  margin-right: 200px;
 }

 .penguin{

   margin-left: 200px;
   margin-top:80px;
   height:400px;
   border-radius: 50px;

 }

nav a {
   display: inline-block;
   padding: 25px 45px 25px 45px;
   
}

.navigationbar{
   display: flex;
   justify-content: flex-end;
   box-shadow: 0 2px 7px rgba(196, 168, 212,0.1)
}

a {

   color:#fff;
   text-decoration: none;

}

.abouthover{
   border-radius: 5px;
    
}


.abouthover:hover{
   background: #7a5b8b;
   filter: brightness(120%)

}

.infobox{
    width: 1070px;
    height: 0;
  background-color: rgba(196, 168, 212,0.6);
  margin-left: 325px;
  margin-top: 0px;
  opacity: 0;
  transition: 2s ease-in-out;


}

.button1{
    border-radius: 5px;
    height: 85px;
    width: 1000px;
    background-color:#C4A8D4;
    margin-left: 325px;
    margin-top: 60px;
    font-family: 'Playfair Display';
    font-size: 20px;
    padding-left: 70px;
    text-align: left;
      
}

.button1:hover + .infobox{

    height: 200px;
    opacity: 1;
  

}

.button2{
  border-radius: 5px;
  height: 85px;
  width: 1000px;
  background-color: #b8a0c7;
  margin-left: 325px;
  margin-top: 50px;
  font-family: 'Playfair Display';
  font-size: 20px;
  padding-left: 70px;
  text-align: left;
   
}

.button2:hover + .infobox{
   transition: 2s;
    height: 200px;
    opacity: 1;

}


.button3{
border-radius: 5px;
  height: 85px;
  width: 1000px;
  background-color: #b8a0c7;
  margin-left: 325px;
  margin-top: 50px;
  font-family: 'Playfair Display';
  font-size: 20px;
  padding-left: 70px;
  text-align: left;

}

.button3:hover + .infobox{
   transition: 2s;
    height: 200px;
    opacity: 1;

}

.button4{
border-radius: 5px;
  height: 85px;
  width: 1000px;
  background-color: #b8a0c7;
  margin-left: 325px;
  margin-top: 200px;
  font-family: 'Playfair Display';
  font-size: 20px;
  padding-left: 70px;
  text-align: left;
}
.button5{
 border-radius: 5px;
  height: 85px;
  width: 1000px;
  background-color: #b8a0c7;
  margin-left: 325px;
  margin-top: 200px;
  font-family: 'Playfair Display';
  font-size: 20px;
  padding-left: 70px;
  text-align: left;
}

.circledecor2{
  height: 60px;
  width: 60px;
  background: #982649;
  border-radius: 50%;
  margin-left: 120px;
  opacity: 0.7;
  margin-top: 85px;
  position: absolute;

}

.experiencetitle{
padding-left: 45px;
  padding-top: 25px;

}

.experiencedesc {
  font-size: large;
  padding-left: 25px;
  padding-top: 20px;
}

.fa-solid.fa-angles-down{
   display:block;
   margin-left: 900px;
   margin-top: -15px;

}