* {
   margin: 0px;
}

body{
    height: 100vh;
    width: 100%;
    background-color:#150F2A;

}
 main{
    height: 100vh;
    width: 100%;
    background-color:#150F2A;
 }

 .aboutme
 {
    max-width: 600px; 
    padding: 120px;
    margin: 70px 70px 0 80px;
 
 }

 .firstname{
    color: #fff;
    font-family: 'Playfair Display';
    font-size : 70px;
    margin-bottom: 0px;
    margin-left: 50px;

 }

.lastname{
    color: #fff;
    font-family: 'Playfair Display';
    font-size : 70px;
    margin-top: 0px;
    margin-left: 35px;
 }

.description{
    color: #fff;
    font-family: 'Playfair Display';
    margin-top: 30px;
 }

 .learnbtn{
    width: 150px;
    height: 60px;
    border-radius: 5px;
    background-color: #C4A8D4;
    color: #fff;
    font-family: 'Playfair Display';
    opacity: 0.7;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.3s;

 }

 .contactbtn{
    margin-left: 10px;
    margin-top: 30px;
    background-color: #982649;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border-color: #982649;
    color: #fff;
    font-family: 'Playfair Display';
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
 }

 .contactbtn:hover{
    filter: brightness(150%);
    transform: translateY(-10px);
 }

.learnbtn:hover{
    transform: translateY(-10px);
    background-color: #C4A8D4;
    opacity: 1;
 }



nav a {
   display: inline-block;
   padding: 25px 45px 25px 45px;
   transition: 0.6s;
   
}

.navigationbar{
   display: flex;
   justify-content: flex-end;

}

a {

   color:#fff;
   text-decoration: none;

}

.profilepic{
  position: absolute;
  margin-top: -350px;
  margin-left: 850px;
  
}

.penguin{
   width: 370px;
   border-radius: 15px;

}

.abouthover{
   border-radius: 5px;
    
}


.abouthover:hover{
   background: #7a5b8b;
   filter: brightness(120%)

}